.trait {
    display: flex;
    flex-direction: column;
    gap: 8px;
    height: 100%;
    width: 48px;
    justify-content: center;
    align-items: center;
}

.traitHex-hexagonalBorder {
    background-color: #012178;
    height: 48px;
    width: 48px;
    clip-path: polygon(0% 25%, 50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.traitHex {
    background-color: #01144a;
    clip-path: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 44px;
    width: 44px;
}

.traitHex.bronze {
    background: linear-gradient(to bottom, #7d5b44 40%, #734c35 60%);
}

.traitHex.silver {
    background: linear-gradient(to bottom, #889798 40%, #657374 60%);
}

.traitHex.gold {
    background: linear-gradient(to bottom, #af9d5a 40%, #9d8039 60%);
}

.traitHex.prismatic {
    background-image: linear-gradient(135deg, #cecafb 0, #cecafb 33%, #dbfdf9 100%);
}

.traitHex.unique {
    background: radial-gradient(circle farthest-corner at 50% 0, #ef9c54 0, #d95c30 50%, #d95c30 100%), linear-gradient(180deg, #d95c30 0, #e58736 100%);
	background-repeat: no-repeat;
	background-position: 50% 0, 50% 100%;
	background-origin: padding-box;
	background-clip: border-box;
	background-size: auto 50%;
}

.emblemIcon {
    height: 60%;
    width: 60%;
}