html {
  font-family: monospace;
  font-size: 16px;
  color: white;
  display: flex;
  justify-content: center;
}

body {
  margin: 10px;
  width: 95vw;
  display: block;
  align-items: center;
  justify-content: center;
  background: linear-gradient(121deg, rgba(0,0,0,1) 0%, rgba(43,27,85,1) 100%);
}

.main-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 16px;
}

.table-header {
  display: flex;
  flex-direction: row;
  height: 8vh;
  width: 100%;
  border: 1px solid white;
  border-radius: 32px 32px 0 0;
}

.table-header-column {
  display: flex;
  flex-direction: column;
  color: white;
  justify-content: center;
  align-items: center;
}

.table-users {
  height: 80vh;
  width: calc(100% + 12px);
  overflow-y: scroll;
}

.table-footer {
  height: 8vh;
  width: 100%;
  border: 1px solid white;
  border-top: 0;
  border-radius: 0 0 32px 32px;
}

.column-name {
  width: 15%;
}

.column-lastName {
  width: 15%;
}

.column-email {
  width: 30%;
}

.column-phoneNumber {
  width: 20%;
}

.column-country {
  width: 20%;
}

.table-header-column-span {
  align-items: center;
}

.user-info-row {
  height: 40px;
  display: flex;
  border-bottom: 1px solid white;
}

.user-info-column {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

span {
  text-wrap: nowrap;
}

::-webkit-scrollbar {
  width: 10px;
  position: relative;
  right: -5px;
}

::-webkit-scrollbar-thumb {
  background-color: #00BBBB;
  border-radius: 8px;
}

.hasRightBorder {
  border-right: 1px solid white;
}

.hasLeftBorder {
  border-left: 1px solid white;
}

.hasTopBorder {
  border-top: 1px solid white;
}

.filterRow {
  width: 90%;
  display: flex;
  flex-direction: row;
  margin-top: 6px;
  justify-content: center;
}

.filterInput {
  height: calc(100% - 8px);
  width: 60%;
  padding: 4px;
  border: 1px solid black;
  border-radius: 6px;
  background-color: #222222;
  font-family: monospace;
  font-size: 16px;
  color: white;
}

.filterInput:hover {
  background-color: #333333;
}

.column-delete {
  width: 100px;
}

.delete-user-button {
  background-color: #222222;
  font-family: monospace;
  font-size: 16px;
  color: white;
  border: 1px solid black;
  border-radius: 8px;
}

.delete-user-button:hover {
  background-color: #333333;
}

.delete-user-button:active {
  background-color: #444444;
}